main {
  background-color: var(--backdrop);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
}

.center {
  margin-bottom: 1rem;
}

.degree-title {
  margin-bottom: 0;
}

.float-right {
  float: right;
  text-align: right;
  margin-bottom: 0;
  font-style: italic;
  font-weight: normal;
}

.skill-list {
  columns: 2;
}

.header {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

.contact-info {
  margin-left: auto;
  text-align: right;
}

.container {
  max-width: 725px;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.container a {
  text-decoration: none;
  color: var(--mondrian-red);
}

.container a:hover {
  color: var(--mondrian-blue);
}
.container a:active {
  color: var(--mondrian-yellow);
}

.section-title {
  margin: 1em 0;
  border-top: 1px solid var(--mondrian-yellow);
  border-bottom: 1px solid var(--mondrian-yellow);
  padding-top: 7px;
  text-align: center;
  color: var(--mondrian-blue);
}

.job-title,
.degree-title {
  font-weight: 600;
}

.job-title,
p.employer {
  margin-bottom: 0;
}

p.employer {
  font-family: "Raleway", sans-serif;
}

.social {
  margin: 1rem 0;
}

#footer {
  position: relative;
}

.download {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.download-btn {
  background-color: var(--mondrian-yellow);
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: black;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.download-btn:hover,
.download-btn:focus {
  background-color: var(--mondrian-pale-yellow);
  color: var(--text-color);
}

.download-btn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

/* media queries */
@media screen and (max-width: 750px) {
  .associate,
  .bachelor,
  .degree-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .float-right.grad-date {
    display: inline-block;
    margin: 0 auto;
    float: none;
  }
}

@media screen and (max-width: 550px) {
  main.container {
    padding: 4px 0;
    margin: 0px 4px;
  }

  .projects ul {
    padding-left: 0.25em;
  }
  .projects li {
    list-style: none;
  }
  .social {
    margin-top: 1em;
  }
}
