.degree-title {
    margin-bottom: 0;
}

.float-right {
    float: right;
    text-align: right;
    margin-bottom: 0;
    font-style: italic;
}

.skill-list {
    columns: 2;
}

.header {
    display: flex;
    align-items: center;
    margin: 2em 0;
}

.contact-info {
    margin-left: auto;
    text-align: right;
}

.container a {
    text-decoration: none;
    color: var(--mondrian-red);
}

.container a:hover {
    color: var(--mondrian-blue);
}

.container a:active {
    color: var(--mondrian-yellow);
}

a[target="_blank"]:after {
    background-image: url(img/link-ext.png);
	background-size: 14px 14px;
    display: inline-block;
    width: 14px; 
    height: 14px;
	content: "";
	
}

.section-title {
    margin: 1em 0;
    border-top: 1px solid var(--mondrian-yellow);
    border-bottom: 1px solid var(--mondrian-yellow);
    padding-top: 7px;
    text-align: center;
	color: var(--mondrian-blue);
}

.experience {
    margin-bottom: 4em;
}

.download {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4em;
}

.download-btn {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color: var(--mondrian-red);
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.download-btn:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.download-btn:active {
	position:relative;
	top:1px;
}

/* media queries */
@media screen and (max-width: 750px) {
    .associate, .bachelor, .degree-title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .float-right {
        display: inline-block;
        margin: 0 auto;
        float: none;
    }
}

@media screen and (max-width: 550px) {
    main.container {
        padding: 4px 0;
        margin: 0px 4px; 
    }

    .projects ul {
        padding-left: .25em;
    }

    .projects li {
        list-style: none;
    }

    .social {
        margin-top: 2em;
    }
} 